@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  --primary-color: oklch(0.637 0.237 25.331);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Crimson Text", serif;
  background-color: oklch(0.971 0.014 343.198);
}

.heading {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: var(--primary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.input-note {
  /* width: 100%; */
}

.text-box {
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

.text-box:focus {
  border: 2px solid rgb(124, 138, 255);
}

.moods {
  display: flex;
  gap: 10px;
  align-items: center;

  margin-top: 20px;
  font-size: 40px;
}

.mood {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.3);
}

.mood:hover {
  transform: translateY(-10px);
}

.selected-mood-box {
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  width: 60px;
  height: 60px;
  transition: all 0.2s ease;
  margin-left: 20px;
  transition: all 0.2 ease-in-out;
}

.selected-mood-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.note-input {
  margin-top: 10px;
}

.btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249, 250, 251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}

.btn-add {
  margin-top: 10px;
}

.show-mood-container {
  margin: 0 auto;
  max-width: 650px;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-mood-container .emoji {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 64px;
  box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.3);
}

.show-mood-container .note {
  color: oklch(0.21 0.034 264.665);
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
}

.show-mood-container .date {
  align-self: flex-end;
  margin-top: 7px;
  font-weight: bold;
  color: oklch(0.373 0.034 259.733);
}

.lower-body {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 640px) {
  .lower-body {
    flex-direction: column;
    align-items: center;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.search-input-box {
  width: 200px;
}

.btn-search {
  width: 100px;
}
